.main-layout {
    .left-sidebar {
        border-right: 1px solid #f0f0f0;
        display: flex;
        flex-direction: column;
        
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
        }

        .sidebar-header {
            padding: 20px;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 18px;
        }

        .sidebar-action {
            padding: 0 20px;
        }

        .user-profile-sticky {
            margin-top: auto;
            padding: 20px;
            border-top: 1px solid #f0f0f0;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(0,0,0,0.02);
            }
        }
    }

    .right-sidebar {
        height: 100%;
        position: relative;
        flex-shrink: 0; // Prevent shrinking when main content expands
    }
}

